<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Biography Page</title>
	</head>

	<body>

		<h1>About Me</h1>

		<p>
			I'm a software developer born and raised in Southwest Michigan. I
			graduated from Marcellus High School, a small farming town I lived about
			10 minutes away from. I was a very active athlete during high school,
			participating in Football, Basketball, and Track all 4 years. I also
			was a member of the marching, concert, and jazz bands during that time.
		</p>

		<p>
			After high school, I attended college at Northern Michigan University in
			Marquette, where I obtained a degree in Mobile Web & Application
			Development, with a minor in Math.
		</p>

		<p>
			The following summer after graduating from NMU, I helped on my family's
			farm until I accepted a position at BluJay Solutions as a Software
			Engineer 1.
		</p>

		<p>
			In my free time, I typically talk and play video games with friends online
			via Discord. Lately I've been trying to stream twice a week on Twitch.
			I've done occasional speedruns in various games, as well as play some
			games competitively online.
		</p>

		<h2>Random Trivia</h2>
		<ul>
			<li>I'm the third person in my family to graduate from college.</li>
			<li>My favorite book is "To Kill a Mockingbird".</li>
			<li>I've never broken a bone in my life.</li>
		</ul>

		<footer>
			<address id="contactInfo">
				Email: <a href="mailto:zstuck96@gmail.com">zstuck96@gmail.com</a><br>
				Phone: 269-744-4336
			</address>
		</footer>
	</body>

</html>