<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>StuckBoy's Personal Site</title>
</head>
<h1>StuckBoy's Site</h1>
<body>
	<div id="topLevel">
		<p id="welcomeMessage">
			Welcome, this is primarily a personal site to serve my own needs, but also
			provides a way for others to see my interests and professional skills. To
			learn a little more about me, click <a href="bio.html">here</a>.
		</p>
		<div id="otherAccounts">
			<h2>Check me out on other sites!</h2>
			<h3><a href="https://github.com/stuckboy" target="_blank">GitHub</a></h3>
			<h3><a href="https://www.linkedin.com/in/zachary-stuck-746835121/" target="_blank">LinkedIn</a></h3>
			<h3><a href="https://www.nephest.com/sc2/?type=character&id=161026760&m=1#player-stats-summary" target="_blank">Nephest SC2 Player Stats</a></h3>
			<h3><a href="https://www.speedrun.com/users/stuckboy" target="_blank">Speedrun.com</a></h3>
			<h3><a href="https://steamcommunity.com/id/stuckboy_/" target="_blank">Steam</a></h3>
			<h3><a href="https://twitch.tv/stuckboy" target="_blank">Twitch</a></h3>
			<h3><a href="https://twitter.com/stuckboy_" target="_blank">Twitter</a></h3>
			<h3><a href="https://www.youtube.com/channel/UCvyCu3MGnhN6oL6TiY-5hog" target="_blank">YouTube</a></h3>
		</div>
	</div>

	<footer>
		<address id="contactInfo">
			Email: <a href="mailto:zstuck96@gmail.com">zstuck96@gmail.com</a><br>
			Phone: 269-744-4336
		</address>
	</footer>
</body>

</html>